<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero in culpa, cumque voluptatem fuga enim soluta nostrum placeat repellat dolore ab dolorem explicabo similique ad harum error ipsa porro ducimus!</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 1111-1111</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 22222-2222</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">&copy; Todos os direitos reservados</section>
</footer>
